@import '../../styles/globals';

$min_padding: 20px;

.Layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;

  & > header,
  & > .MainMenu,
  main,
  footer {
    width: 100%;
    padding-left: calc(50% - #{$max_width / 2});
    padding-right: calc(50% - #{$max_width / 2});

    @media (max-width: #{$max_width + $min_padding * 2}) {
      padding-left: $min_padding;
      padding-right: $min_padding;
    }
  }

  & > header {
      padding-top: 40px;
      padding-bottom: 40px;

    .Logotype {
      width: 300px;
      height: auto;
    }
  }

  & > .MainMenu {
    display: flex;
    justify-content: flex-start;
    column-gap: 10px;

    .MenuItem,
    .ActiveMenuItem {
      position: relative;
      top: 1px;
      padding: 20px 30px;
      font-weight: 500;
      font-size: 0.8em;
      text-transform: uppercase;
    }

    .ActiveMenuItem {
      background-color: #000;
      color: #fff;
    }
  }

  main {
    border-top: 1px solid #ccc;
    padding-bottom: 20px;
    width: 100%;

    .Title {
      margin-top: 20px;
      padding-left: 20px;
      padding-right: 4px;
      padding-top: 150px;
      padding-bottom: 10px;
      background-image: url('/rawpixel-744342-unsplash.jpeg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-clip: padding-box;
      color: #fff;
      font-size: 3em;
      font-weight: 500;
      text-shadow: 0px 0px 10px #0009, 0px 0px 2px #000;

      display: flex;
      align-items: flex-end;
      justify-content: space-between;


      &::after {
        content: "Photo by rawpixel on Unsplash";
        font-size: 10px;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        padding-bottom: 20px;
      }
    }

    .Subtitle {
      border-top: 1px dotted #999;
      border-bottom: 1px dotted #999;
      padding: 20px 10px;
      width: 50%;
      font-size: 1.2em;
    }
  }

  footer {
    flex-grow: 1;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #ccc;
    color: #999;
    font-size: 0.7em;

    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;

    .AboutPanel {
      flex-grow: 1;
    }

    .ContactPanel {
      flex-shrink: 0;
    }

    .Disclaimer {
      border-top: 1px dotted #999;
      padding-top: 20px;
      width: 100%;
      text-align: center;
      font-size: 0.9em;
    }

    h5 {
      margin: 0px;
      font-size: 1.5em;
    }
  }
}